<!DOCTYPE html>
<html lang="en">
  <link href="accountejs.css" rel="stylesheet" type="text/css" />
  <head>
    <title>ACCOUNT</title>
  </head>
  <body>
    <h2>ACCOUNT DETAILS</h2>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email_id</th>
            <th>phone_number</th>
            <th>Age</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Father_name</th>
            <th>marital_status</th>
            <th>address</th>
            <th>city</th>
            <th>state</th>
            <th>country</th>
            <th>PINCODE</th>
          </tr>
        </thead>
        <% if(userdata.length!=0){ var i=1; userdata.forEach(function(data){ %>
        <tbody>
          <tr>
            <td><%=data.NAME %></td>
            <td><%=data.EMAIL_ID %></td>
            <td><%=data.PHONE_NO %></td>
            <td><%=data.AGE %></td>
            <td><%=data.GENDER %></td>
            <td><%=data.DOB %></td>
            <td><%=data.FATHER_NAME %></td>
            <td><%=data.MARITAL_STATUS %></td>
            <td><%=data.ADDRESS %></td>
            <td><%=data.CITY %></td>
            <td><%=data.STATE %></td>
            <td><%=data.COUNTRY %></td>
            <td><%=data.PINCODE %></td>
          </tr>
          <% i++; }) %> <% } else{ %>
          <tr>
            <td colspan="7">No Data Found</td>
          </tr>
          <% } %>
        </tbody>

        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
